body { background-color:lightgray;text-align:center;
}
.titulo {
    text-align: left;
    font-size: x-large;
    font-style: oblique;
    font-family:Arial;
    font-weight:normal;
    /*//margin: 0em;*/
    border-radius: 0.5em;
    top:3em;
    text-align:center;
    text-shadow: 0.1em 0.2em 0.2em #888888;
    color: rgb(23, 48, 77);
    position:relative;
    float:left;
    margin:auto;
    width:50%;

 
}
.subtitulo {
    text-align: left;
    font-size:120%;
    font-style:normal;
    font-weight:600;
    font-family:Arial;
    margin: 0em;
    padding-left:0em;
    border-radius: 0em;
    text-shadow: 0.1em 0.2em 0.2em #888888;
    color: rgb(43, 46, 100);

}
 #marco {
	

	height:21em;
	color:black;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
    text-align:left;
    margin:0em;
    top:2.5em;
    position:relative;
    float:left;
    width:100%;
  

}
  .plantillacerti {
	

	height:auto;
	color:black;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
    text-align:left;
    margin:0em 0em 0em 0em;
    top:0em;
    position:relative;
    float:left;
    width:100%;
  

}
 
 .plantilla {
	

	height:auto;
	color:black;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
    text-align:left;
    margin:0em 0em 0em 0em;
    top:2.5em;
    position:relative;
    float:left;
    width:100%;
  

}
 

#Enlaces {
        float:left;
    width:100%;
    text-align:center;
    font-size:14px;

}
 .plantillalogin {
	

	height:auto;
	color:black;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
    text-align:center;
    margin:0em;
    top:2.5em;
    width:70%;
    position:relative;
  

}
 #login { margin:0 auto 0 auto;
width:90%; text-align:left;
height:auto;
	color:black;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
 }
 #marco2 {
	
	overflow:auto;
	color:black;
    padding-bottom:2em;
	border-style:solid;
	border-color:#ecebec;
	background-color:#FFFFFF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	box-shadow: 1em 1em 2em #888888;
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    text-align:left;
    top:2.5em;
    position:relative;
      width:100%;
      float:left;
 
}
 .combobox {
	position:relative;
	left:auto;
	width:30em;
}
  .comboboxareas {
	position:relative;
	left:auto;
	width:30em;
    height:5em;
}
  .txtbox {
	left:auto;
	width:15em;
    
}
  .txtarea {
	left:auto;
	width:25em;
    
}
    .txtusu {
	left:auto;
	width:15em;
    
}
#divNuevo{
    left:1em;
    position:relative;
    top:0em;
    width:12em;
    height:1em;
}
#divOrg {
    left:1em;
    position:relative;
    top:0em;
    width:12em;
    height:1em;
}
#btnVolver {
	position:relative;
	left:90%;
	width: 85px;
}
#btnExport {
	position:relative;
	left:85%;
	width: 150px;
    margin-top:2em;
}
.fontlink {
     font-weight:normal;
     font-size:small;
     color:black;
}
#Organizaciones {
	position:relative;
	top:1em;
}
#principal {
    width:900px;
    margin: 0 auto;
    height:7.5em;
    text-align:center;
  }
#principalB {
    width:1100px;
    margin: 0 auto;
    height:7.5em;
    text-align:center;
  }
#principalM2 {
    width:100%;
    margin: 0 auto;
    height:9em;
    text-align:center;

  }
#principal2 {
    width:850px;
    margin: 0 auto;
    height:8em;
    text-align:center;

  }
#divmenu {
    width:100%;
   
    height:2em;
     text-align:center;
    background-color:rgb(162,186,214);
	border-top-left-radius:0.4em;
	border-top-right-radius:0.4em;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	box-shadow: 0.5em 0.5em 2em #888888;
    border-color:rgb(162,186,214);
	border-top-width:0.8em;
	border-right-width:0.8em;
	border-bottom-width:0.8em;
	border-left-width:0.8em;
    font-family:Tahoma;
    font-size:small;
    text-align:left;
    position:relative;
    margin:0em 0em 0em 0em;

  }
.opcion {
    font-family:Tahoma;
    font-size:small;
    color:black;
}
.tablacentrada {
   text-align:center
}
a:link   
{   
 text-decoration:none;   
}  
.fmtPieAlumno {
	font-family:Arial;
	color:#38628a;
}

hr {border: 2px solid #ecebec; height: 2px; background-color: grey;
  
}

#DivRegistros {
    position:relative;
	top:1em;
    left:1em;
}

#left {
    float:left;
}

#centro {
    display: inline-block;
    margin:0 auto;
    width:100px;
 
}

#right {
    float:right;
    width:250px;
    position:relative;

 }
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Tahoma;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.correo_alumno {
	position:relative;
	left: 1em;
}
.pie {
	position:relative;
	background-image:url('../images/bgBox2.png'); 
	background-repeat: repeat-x ;
	top: 23em;
	height:5em;
	clear:both;
	width:100%; 
	z-index: 100;

}
.fmtPie {
	margin: 1em auto;
	display:block;
	width:50em;
	height: 3em;
	font-family:Arial;
	font-style:italic;
	font-size:12px;
	color:#38628a;
	z-index: 200;
}
#Certificados {
    margin:0em;
    position:relative;
    float:left;
    width:100%;

}
#Mensaje {
	color:red;
	text-align:center;
    font-family:Tahoma;
}

#divNuevo > div > #lblNew{  color:orangered; }
#divNuevo > div > #lblNew:hover{  color:blue; cursor:pointer; }
#divOrg > div > #lblOrganismos{  color:orangered; }
#divOrg > div > #lblOrganismos:hover{  color:blue; cursor:pointer; }
#divNuevaArea > div > #lblNewA{  color:orangered; }
#divNuevaArea > div > #lblNewA:hover{  color:blue; cursor:pointer; }

#divModOrg,#divModUsu {
    position:relative;
    float:right;
    margin-right:2em;
    margin-top:1em;
}


